<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jQuery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <title>Dipranjan</title>
</head>
<body>
    <!-- Header section -->
    <%- include('partials/header.ejs') %>
    
    <!-- banner section -->
    <div id="home" class="hero-banner">
        <div class="welcome-container">
            <div class="content">
                <h1>Hello there</h1>
                <h3>My name is Dipranjan Das</h3>
                <h4>I am a fullstack web developer with experience in cutting edge tools and technologies.</h4>
                <a class="resume" href="resume/Resume.pdf" download>Resume</a>
            </div>
        </div>
    </div>

    <!-- About section -->
    <section id="about">
        <h2 class="title">About me</h2>
        <div class="about-container">
            <div class="about-text">
                <p>I indulged myself into web development 2.5 years ago. Sience then I have been building web projects with various modern tools and technologies like HTML, CSS, Javascript, Drupal and various frameworks.
                I enjoy web design and development and like to help others with their web projects.
                </p>
            </div>
            <div class="my-img">
                <img src="/images/display.jpg" />
            </div>
        </div>
    </section>

    <!-- Technology section -->
    <section id="technology" class="technology">
        <h2 class="title">Technology</h2>
        <div class="tech-names">
            <% technologies.forEach(tech => { %>
                <p> <%= tech %> </p>
            <% }) %>
        </div>        
    </section>

    <!-- Projects section -->
    <section id="projects">
        <h2 class="title">Projects</h2>
        <div class="projects">
            <% projects.forEach(({name, img, text, link}) => { %>
                <div class="project-container">
                    <div class="project-img">
                        <img src=<%= img %> alt =<%= name %> />
                    </div>
                    <div class="project-details">
                        <h5> <%= name %> </h5>
                        <p> <%= text %> </p>
                        <a class="resume view" href=<%= link %> >View</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>

    <!-- Footer section -->
    <%- include('partials/footer.ejs') %>   
</body>
</html>